body{
    font-family: Arial, sans-serif;
}
#lemon{
    width: 350px;
    height: 300px;
    margin: 100px auto 0 auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
#lemon:active{
    width: 375px;
    height: 325px;
}
#lemon img{
    width: 100%;
    height: auto;
    display: block;
}
#counter{
    text-align: center;
    font-family: airal, sans-serif;
    font-size: 70px;
    margin: 50px auto 0 auto;
    background-color: hsl(55, 100%, 50%);
    border: 5px solid hsl(50, 100%, 50%);
    border-radius: 20px;
}
.shopItems{
    display: flex;
    justify-content: flex-end;
    width: 200px;
    height: 150px;
    background-color: hsl(0, 0%, 90%);
    border: 5px solid hsl(0, 0%, 80%);
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
}
.shopItems:hover{
    background-color: hsl(0, 0%, 95%);
}
.shopItems:active{
    background-color: hsl(0, 0%, 100%);
}
#clickMultiplier{
    margin: 0px auto 0 auto;
}