body{
    background-color: hsl(0, 0%, 75%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 55%);
    color: hsl(0, 0%, 100%);
}
#calculator{
    font-family: arial, sans-serif;
    background-color: hsl(0, 0%, 65%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 5px solid hsl(50, 100%, 50%);
    background-color: hsl(55, 100%, 50%);
    color: hsl(0, 0%, 100%);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(55, 100%, 60%);
}
button:active{
    background-color: hsl(55, 100%, 70%);
}
