#lemon{
    width: 350px;
    height: 300px;
    border-radius: 50%;
    background-color: hsl(55, 100%, 50%);
    margin: 100px auto 0 auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
#counter{
    font-family: Airal, sans-serif;
    font-size: 70px;
    margin: 50px auto 0 auto;
}