#lemon{
    width: 350px;
    height: 300px;
    margin: 100px auto 0 auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
#lemon img{
    width: 100%;
    height: auto;
    display: block;
}
#counter{
    font-family: Airal, sans-serif;
    font-size: 70px;
    margin: 50px auto 0 auto;
}