body{
    font-family: sans-serif;
    background-color: hsl(0, 0%, 90%);
}
#headerTitle{
    text-align: center;
    font-size: 2.5em;
    border: 5px solid hsl(50, 100%, 50%);
    border-radius: 20px;
    background-color: hsl(55, 100%, 50%);
    color: white;
}
#iconContainer{
    display: flex;
    justify-content: center; 
}
#calculatorIcon{
    width: 200px;
    height: 200px;
    background-color: hsl(55, 100%, 50%);
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
    margin-left: 20px;
    border: 5px solid hsl(50, 100%, 50%);
    cursor: pointer;
    color: white;
}
#calculatorIcon:hover{
    background-color: hsl(55, 100%, 60%);
}
#calculatorIcon:active{
    background-color: hsl(55, 100%, 70%);
}
#clickerGameIcon{
    width: 200px;
    height: 200px;
    background-color: hsl(55, 100%, 50%);
    border-radius: 20px;
    text-align: center;
    font-size: 1.5em;
    margin-left: 20px;
    border: 5px solid hsl(50, 100%, 50%);
    cursor: pointer;
    color: white;
}
#clickerGameIcon:hover{
    background-color: hsl(55, 100%, 60%);
}
#clickerGameIcon:active{
    background-color: hsl(55, 100%, 70%);
}